.h-title{
    padding-top:0px;
}

.left{
    width: 110px;
    position: absolute;
    left: 50px;
    margin: 0 auto;
    background-color: #985f0d;
}
.news-content{
    width:800px;
    position: relative;
    margin: auto;
}
.right{
    width: 110px;
    right: 50px;
    bottom: 0px;
    position: absolute;
    background-color: #1b6d85;
}