header{
    border-bottom: 0px;
}
.middlebar {
    position: relative;
    height: 58px;
    background: #fff;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .12);
}
.middlebar .middlebar-inner {
    width: 1200px;
    margin: 0 auto
}

.middlebar .middlebar-inner .logo-box {
    line-height: 58px;
    overflow: hidden
}

.middlebar .middlebar-inner .logo-box .logo-link {
    display: block;
    text-decoration: none;
}

.middlebar .middlebar-inner .logo-box .logo-link > img {
    width: 108px;
    height: 27px;
    vertical-align: middle
}
.y-left {
    float: left;
    *margin-right: -3px
}
.y-right {
    float: right;
    *margin-right: -3px
}

.wsearch .input-group {
    position: relative;
    border: 1px solid #e8e8e8;
    padding: 0 14px;
    background-color: #f5f6f7;
    border-radius: 4px
}

.wsearch .input-text {
    border: 0;
    color: #444;
    font-size: 14px;
    line-height: 20px;
    width: 280px;
    outline: 0;
    padding: 9px 10px 9px 0;
    background: #f5f6f7;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.wsearch .input-text::-webkit-input-placeholder {
    color: #dfdfdf
}

.wsearch .input-text:-moz-placeholder {
    color: #dfdfdf
}

.wsearch .input-text::-moz-placeholder {
    color: #dfdfdf
}

.wsearch .input-text:-ms-input-placeholder {
    color: #dfdfdf
}

.wsearch .btn-submit {
    display: block;
    border-left: 0
}

.wsearch .btn-submit button {
    line-height: 38px;
    background: transparent;
    outline: 0;
    border: 0;
    cursor: pointer
}

.wsearch .layer {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    background: #fff;
    font-size: 14px;
    z-index: 22;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .12)
}



.wsearch .layer:hover {
    display: block
}

.wsearch .layer .search-tip {
    font-size: 15px;
    color: #999;
    padding: 10px 0 2px 16px
}

.wsearch .layer .search-item > a {
    display: block;
    height: 40px;
    line-height: 40px;
    padding-right: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #444;
    font-size: 0
}

.wsearch .layer .search-item > a:hover {
    background: #f4f5f6
}

.wsearch .layer .search-item .search-txt {
    font-size: 14px
}

.wsearch .layer .search-item .search-no {
    display: inline-block;
    font-size: 14px;
    color: #999;
    width: 28px;
    margin-right: 12px;
    text-align: right;
    font-style: italic
}

.wsearch .layer .search-item .search-no.search-no-1 {
    color: #f85959
}

.wsearch .layer .search-item .search-no.search-no-2 {
    color: #ff7800
}

.wsearch .layer .search-item .search-no.search-no-3 {
    color: #ffba00
}

.wsearch .layer .search-item .search-sug {
    display: inline-block;
    width: 14px
}

#wrapper {
    width: 1060px;
    margin: 6% auto
}



#wrapper .left {
    display: table-cell;
    width: 700px;
    padding-right: 20px;
    vertical-align: top
}

#wrapper .left .list {
    min-height: 519px
}

#wrapper .left .list .loading {
    margin-top: 0
}

#wrapper .right {
    display: table-cell;
    width: 340px;
    vertical-align: top
}

.yheader {
    background: #fff
}

.yheader .bg-header {
    display: block;
    width: 100%;
    height: 160px
}

.yheader > div {
    position: relative;
    min-height: 84px;
    padding: 16px 0 0 134px;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.yheader > div > a {
    position: absolute;
    left: 20px;
    top: -36px
}

.yheader > div > a:before {
    content: '';
    position: absolute;
    left: 1px;
    top: 1px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: rgba(0, 0, 0, .08)
}

.yheader > div .avatar {
    width: 100px;
    height: 100px;
    border: 1px solid rgba(255, 255, 255, .2);
    border-radius: 100px
}

.yheader > div .title {
    font-size: 24px;
    color: #222;
    letter-spacing: 0;
    line-height: 24px
}

.yheader > div .title .dv:after {
    content: "\e641";
    display: block;
    color: #FEC346;
    font-size: 20px
}


.yheader > div .title span {
    font-weight: 700;
    display: table-cell
}

.yheader > div .title .name {
    color: #222
}

.yheader > div .title > a, .yheader > div .title > div {
    display: table-cell;
    vertical-align: middle
}

.yheader > div .title > div {
    margin-top: 0;
    padding-left: 20px
}

.yheader > div .title > div .subscribe {
    margin-top: 0
}

.yheader > div .btn-attention, .yheader > div .btn-publish {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    line-height: 37px;
    width: 164px;
    background: #2a90d7;
    text-align: center;
    border: 1px solid #2a90d7;
    padding: 0;
    border-radius: 6px;
    cursor: pointer
}

.yheader > div .btn-attention.following, .yheader > div .btn-attention.each, .yheader > div .btn-publish.following, .yheader > div .btn-publish.each {
    color: #777;
    border: 1px solid #ddd;
    background: 0 0
}

.yheader > div .btn-publish span {
    display: inline-block;
    vertical-align: middle
}

.yheader > div .btn-publish .y-icon {
    font-size: 15px
}

.yheader > div .btn-publish i, .yheader > div .btn-publish b {
    display: none
}

.yheader > div .btn-publish.hangup i {
    display: block;
    position: absolute;
    top: -9px;
    right: -9px;
    background-color: #ED4040;
    width: 18px;
    height: 18px;
    border-radius: 9px;
    line-height: 18px;
    text-align: center;
    color: #fff;
    font-size: 14px
}

.yheader > div .btn-publish.hangup b {
    display: block;
    position: absolute;
    top: -48px;
    left: 0;
    font-size: 13px;
    color: #222;
    line-height: 33px;
    width: 100%;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 2px #e8e8e8;
    border: 1px solid #eee
}

.yheader > div .btn-publish.hangup b:before {
    content: '';
    width: 4px;
    height: 4px;
    background-color: #ED4040;
    display: inline-block;
    vertical-align: middle;
    margin-right: 2px;
    border-radius: 2px
}

.yheader > div .btn-publish.hangup b:after {
    content: '';
    width: 6px;
    height: 6px;
    position: absolute;
    bottom: -3px;
    left: 79px;
    background-color: #fff;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 0;
    box-shadow: 2px 2px 2px #e8e8e8
}

.yheader > div .des a {
    font-size: 14px;
    color: #777;
    letter-spacing: 0;
    line-height: 20px;
    margin-top: 10px;
    padding-bottom: 14px;
    display: inline-block;
    width: 570px
}

.statistics {
    display: table;
    width: 100%;
    background: #fff;
    margin-bottom: 20px
}

.statistics h3 {
    font-size: 24px;
    color: #222
}

.statistics h3 i {
    font-weight: 700
}

.statistics p {
    font-size: 14px;
    color: #777;
    margin-top: 4px
}

.statistics > dt, .statistics > dd {
    display: table-cell;
    width: 50%;
    text-align: center;
    padding: 18px 0;
    position: relative
}

.statistics > dt a, .statistics > dd a {
    display: block
}

.statistics > dt:after {
    content: " ";
    display: block;
    position: absolute;
    background: #e8e8e8;
    height: 46px;
    width: 1px;
    left: 100%;
    top: 18px
}

.feedBox {
    min-height: 519px
}

.feedBox .tt-declare {
    display: none;
    margin-top: 22px;
    margin-bottom: 40px;
    padding: 8px 0;
    text-align: left;
    font-size: 16px;
    color: #777
}

.feedBox .tt-related-title {
    display: none;
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 20px;
    border-bottom: 4px solid #444
}

.feedBox .feed-load-more {
    color: #406599;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    background-color: #f4f5f6;
    margin-top: 10px;
    cursor: pointer
}

.tab {
    background: #fff;
    position: relative;
    border-bottom: 2px solid #E8E8E8;
    height: 46px;
    line-height: 46px;
    border-spacing: 40px 0
}

.tab li {
    display: table-cell;
    font-size: 18px;
    cursor: pointer;
    border-bottom: 2px solid transparent
}

.tab li.active {
    color: #E72418;
    border-bottom: 2px solid #e72418
}

.tab:after {
    position: absolute;
    left: 40px;
    display: none;
    width: 36px;
    height: 2px;
    background-color: #E72418;
    -webkit-transition: left linear .2s;
    transition: left linear .2s
}

.tab.tab-followed:after {
    left: 116px
}

.tab.tab-following:after {
    left: 40px
}

.tab.tab-0:after {
    left: 40px
}

.tab.tab-1:after {
    left: 116px
}

.tab.tab-2:after {
    left: 193px
}


.relatedFeed {
    position: relative;
    background: #fff;
    padding: 30px 50px;
    height: auto;
}

.relatedFeed .empty {
    text-align: center;
    padding: 200px 50px;
    color: #777
}
.relatedFeed  li {
    height: 30px;
}

