<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>资讯推荐</title>
    <link rel="stylesheet" href= "../../static/css/common.css" />
    <link rel="stylesheet" href=" ../../static/css/news_/concrete_view.css" />
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css" >
    <script src="../../static/js/lib/jquery.min.js"></script>
</head>
<body>
<div>
    <div>
        <header  class="g-minwidth" style="color: #2A90D7;" id="header" name="header">
                <ul class="g-c h-left">
                    <li class="h-link-app">
                        <a class="a-header">您的新闻</a>
                    </li>
                </ul>
                <ul class="h-right g-c">
                    <li style="margin-right: 14px;" class="g-active">
                        <div class="h-login">
                            <a>登录</a>
                        </div>
                    </li>
                    <li><a>注册</a></li>
                </ul>
        </header>
        <div class="page-header" >
            <div class="h-title">
                <h1><a href="../../" style="color: #000;">资讯推荐</a> </h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="left">
          <h1>This is left!</h1>
        </div>
{#        内容#}
        <div class="news-content" id="news-content">
{#            <div class="panel panel-default">#}
{#                <div class="panel-heading">#}
{#                  <h3 class="panel-title">Panel title</h3>#}
{#                </div>#}
{#                <div class="panel-body">#}
{#                  Panel content#}
{#                </div>#}
{#            </div>#}
        </div>

        <div>

        </div>

        <div class="right">
          <h1>This is right!</h1>
        </div>
    </div>
</div>
<script src="../../static/js/news_api/concrete_view.js"></script>
</body>
</html>