    <header  class="navbar " style=" background-color: #985f0d;" id="i-header" >

        <ul class="g-c h-left">
            <li class="h-link-lable">
                <a class="a-header">您的新闻</a>
            </li>

        </ul>
        <ul class="h-miedum g-c">
            <li class="h-search" >
                <form class="navbar-form navbar-left">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                  </div>
                  <button type="submit" class="btn btn-info" >搜索</button>
                </form>
            </li>
        </ul>
        <ul class="h-right g-c">

          {% if user.is_authenticated %}
              <li class="dropdown " style="line-height: 45px;height: 45px;">
                  <a href="#" class="dropdown-toggle click" data-toggle="dropdown" >{{ user.username }} <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                     <li><a href="user_info">我的信息</a></li>
{#                  <li><a href="{% url 'settings_profile' %}"><i class="fa fa-cog fa-fw" aria-hidden="true"></i></a></li>#}
                     <li role="separator" class="divider"></li>
                     <li><a href="logout">退出</a></li>
                  </ul>
              </li>
          {% else %}
            <li class="g-active h-login"><a href="login">登录</a></li>
            <li class="h-login"><a href="register">注册</a></li>
          {% endif %}
        </ul>
    </header>