{#{% load staticfiles %}#}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>资讯推荐</title>
    <link rel="stylesheet" href= "static/css/common.css" />
    <link rel="stylesheet" href=" static/css/index.css" />
    <script src="static/js/lib/jquery-3.2.1.js"></script>
    <script src="static/js/indexApi.js"></script>
</head>
<body>
<div class="g-container">
    <header title="navigation" class="g-minwidth" id="header" name="header">
        <ul class="g-c h-left">
            <li class="h-link-app">
                <a class="a-header">头条</a>
            </li>

        </ul>
        <ul class="h-right g-c">
            <li style="margin-right: 14px;" class="g-active">
                <div class="h-login">
                    <a>登录</a>
                </div>
            </li>
            <li><a>问答</a></li>
            <li><a>图虫</a></li>
            <li><a>反馈</a></li>

        </ul>
    </header>
    <!--<script src="js/header.js"></script>-->
    <div class="g-content">
        <div class="g-context g-c">
            <div class="index-lf-zhanwei"></div>
            <div class="index-lf">
                <ul>
                    <li><a class="i-active" href="#">推荐</a></li>
                    <li><a href="#">热点</a></li>
                    <li><a href="#">视频</a></li>
                    <li><a href="#">图片</a></li>
                    <li><a href="#">段子</a></li>
                    <li><a href="#">社会</a></li>
                    <li><a href="#">娱乐</a></li>
                    <li><a href="#">科技</a></li>
                    <li><a href="#">体育</a></li>
                    <li><a href="#">汽车</a></li>
                    <li><a href="#">财经</a></li>
                    <li><a>搞笑</a></li>
                    <li>
                        <a class="index-lf-more">
                            更多
                        </a>
                        <ul class="index-lf-more-ul">
                            <li><a>军事</a></li>
                            <li><a>国际</a></li>
                            <li><a>时尚</a></li>
                            <li><a>旅游</a></li>
                            <li><a>探索</a></li>
                            <li><a>育儿</a></li>
                            <li><a>故事</a></li>
                            <li><a>养生</a></li>
                            <li><a>美文</a></li>
                            <li><a>游戏</a></li>
                            <li><a>美食</a></li>
                            <li><a>历史</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="index-md">

                <!--列表新闻-->
                <div class="list-news-container">


                    <ul class="news-list" id="news_id">
                        <li style='padding-top: 0'>
                            <div class="item-inner-one item-inner-same g-c">
                                <div>
                                    <div class="item-inner-img sc-tr">
                                        <a href="" target="_blank" id="news_link">
                                            <img alt="" src="#" title="">
                                        </a>
                                    </div>
                                    <div class="item-inner-title">
                                        <span class="item-inner-center">
                                          <p id="title" class="item-inner-title">123</p>


                                        </span>
                                    </div>
                                </div>
                            </div>
                        </li>






                    </ul>
                </div>
            </div>


            <div class="index-rg">
                <!--搜索框-->
                <div class="s-form">
                    <div class="s-form-center">
                        <input type="text" placeholder="请输入关键字" class="s-input"/>
                        <a class="s-search"><img src="images/ic_serach_pub.png"/></a>
                    </div>
                    <ul class="s-search-lianxiang">
                        <li class="search-item">
                            <a href="#">
                                <i class="search-no search-no-1">1</i>
                                <span class="search-txt">###</span>
                            </a>
                        </li>
                    </ul>

                </div>




            </div>
            <div class="back-top">
                <span class="top-sam">刷新</span>
                <a class="top-sam" href="#header">向上</a>
            </div>
        </div>
    </div>
</div>
{#<script src="{% static "js/indexScrollControll.js" %}"></script>#}
<script src= "static/js/index.js"></script>
</body>
</html>