<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="left_zw" style="position:relative">
<div style="text-align:center"><img alt="资料图：重庆火车站。陈超 摄" src="http://image1.chinanews.com.cn/cnsupload/big/2018/01-29/4-426/24545a4d592343e9b56e0164615e0075.jpg" title="资料图：重庆火车站。陈超 摄"/></div>
<div class="pictext" style="text-align: left;text-indent: 2em; ">资料图：重庆火车站。陈超 摄</div>
<p>　　<a href="http://www.chinanews.com/" target="_blank">中新网</a>1月31日电 国新办今日举行新闻发布会，介绍2018年春运形势和工作安排。交通部副部长刘小明、国家安监总局副局长付建华、公安部交通管理局局长刘钊、国家铁路局总工程师严贺祥分别介绍了在春运保障安全出行方面所做的工作。</p>
<p>　　会上有记者问：请问有关部门，今年春运保障安全出行方面做哪些准备工作？</p>
<p>　　国家安监总局副局长付建华表示，国家安全监管总局将会同相关部门针对春运保障安全做好五个方面的工作。一是认真研判今年春运面临的形势和困难，提前作出工作安排。二是会同相关部门在重点行业领域开展全面检查，比如，重点检查车站人员密集场所的安全措施落实情况，重点检查危险化学品和烟花爆竹的安全储运情况等。三是密切监测全国春运生产的安全动态，及时发布灾害天气等预警信息，一旦发生事故，指导地方做好应急处置工作。最大限度地减少事故对春运的影响。四是采取多种方式来加强宣传教育。五是加强对春节期间仍从事生产的企业的执法检查，督促企业确保安全生产。</p>
<p>　　公安部交通管理局局长刘钊表示，农村地区春运和春节期间是人流、车流最为集中的时段，我们要动员、发动乡镇交管站、农村交通安全劝导站、乡镇交通安全员、农村交通安全劝导员，也就是“两站两员”，把一些违法的车劝在村口不能上路，特别是农村地区数量最大、最容易出事故，而且是隐患比较多的面包车。在城市要继续严查酒驾，公安机关对酒驾坚持严字当头毫不动摇，保证城市交通的文明有序，更加注重早提示，教育引导群众安全行车。</p>
<p>　　刘钊表示，我们还加大了春运交通安全的预警，各地公安机关发布了“两公布一提示”，公布节日期间交通流的预判和分流绕行的预案，公布事故多发点段和容易拥堵的路段，提示节日期间注意的交通安全事项。此外，还更加注重早准备，全力应对恶劣天气。1月份以来，我国经过几轮大的冰雪灾害天气，公安交管部门会同交通运输等部门冒风雪战严寒，全警动员、昼夜奋战，疏导交通。没有发生大规模车辆和人员滞留，没有发生重特大交通事故。</p>
<p>　　国家铁路局总工程师严贺祥表示，国家铁路局围绕高铁和旅客列车安全，认真履行铁路行业监管职责，采取有力措施切实维护铁路春运安全稳定。一是对春运安全监管工作早安排、早部署。二是强化铁路运输安全基础，督促铁路运输企业完善安全生产管理制度，落实安全生产主体责任，围绕铁路外部环境安全，深入开展打非治违。三是加强监督检查。四是加强突发事件的应急处置准备，积极研判春运期间可能出现的安全风险。</p>
<p>　　交通部副部长刘小明补充道，交通部将采取六个方面的措施，确保人民群众的出行安全。一是牢固树立安全发展理念，弘扬生命至上、安全第一的思想。</p>
<p>　　二是严格落实企业主体责任，督促企业严格落实各项安全管理制度，对运输线路、场站设施、运输设备、管理制度、从业人员等开展全面的隐患排查和治理。坚决不允许不合格车辆、不合格驾驶员参加春运。</p>
<p>　　三是组织开展春运安全大检查，既有部门间的联合检查，也有行业本身的检查，也包括省市间的相互检查，确保运输安全。</p>
<p>　　四是加强春运安全防范技术保障。对客运车、船都有联网联控，实时加强车船在线监控，及时提醒和纠正驾驶员交通违法违规行为，特别是加强事中事后监管。</p>
<p>　　五是强化安全应急协调联动，督促各地进一步完善应急预案，准备充足的应急物资和装备，切实提高应急处置能力和水平。</p>
<p>　　六是完善群众监督和参与机制。也希望广大旅客朋友积极地参与到春运安全监督工作中，主动监督春运车辆驾驶员的违法违规行为，通过诚信春运公众监督平台和12328电话等渠道来投诉、举报，我们将严肃查处，保障人民群众出行安全。</p><table align="left" border="0" cellpadding="0" cellspacing="0" style="padding-right:10px;"><tr><td><div id="adhzh" name="hzh">
<!-- 广告位：画中画2 -->
<script>  </script>
<script src="//dup.baidustatic.com/js/os.js"></script>
</div>
</td></tr></table><div id="function_code_page"></div>
</div>
</body>
</html>