{#{% load staticfiles %}#}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>资讯推荐</title>
    <link rel="stylesheet" href= "static/css/common.css" />
    <link rel="stylesheet" href=" static/css/index.css" />
    <link rel="stylesheet" href="static/css/bootstrap.min.css" >
    <script src="static/js/lib/jquery.min.js"></script>
    <script src="static/js/indexApi.js"></script>

</head>
<body>
<div class="g-container">
    <header  class="navbar " style=" background-color: #985f0d;" id="i-header" >
        <ul class="g-c h-left">
            <li class="h-link-app">
                <a class="a-header">您的新闻</a>
            </li>

        </ul>

        <ul class="h-right g-c">
            <li>
                <form class="navbar-form navbar-left">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                  </div>
                  <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </li>
            <li style="margin-right: 14px;" class="g-active">
                <div class="h-login">
                    <a href="login/login.html">登录</a>
                </div>
            </li>
            <li><a href="register/register.html">注册</a></li>

        </ul>
    </header>
    <!--<script src="js/header.js"></script>-->
    <div class="g-content">
        <div class="g-context g-c">
{#            <div class="index-lf-zhanwei"></div>#}
            <div class="index-lf">
                <ul class="catalog" id="">
                    <li><a class="i-active" id="" href="#">推荐</a></li>
                    <li><a id="" href="#">新闻</a></li>
                    <li><a id="" href="#">社会</a></li>
                    <li><a id="" href="#">时政</a></li>
                    <li><a id="" href="#">娱乐</a></li>
                    <li><a id="" href="#">体育</a></li>
                    <li><a id="">搞笑</a></li>
                    <li>
                        <a class="index-lf-more">
                            更多
                        </a>
                        <ul class="index-lf-more-ul">
                            <li><a>军事</a></li>
                            <li><a>国际</a></li>
                            <li><a>时尚</a></li>
                            <li><a>旅游</a></li>
                            <li><a>探索</a></li>
                            <li><a>育儿</a></li>
                            <li><a>故事</a></li>
                            <li><a>养生</a></li>
                            <li><a>美文</a></li>
                            <li><a>游戏</a></li>
                            <li><a>美食</a></li>
                            <li><a>历史</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="index-md">

                <!--列表新闻-->
                <div class="list-news-container">

                    <ul class="news-list" id="news_id">
{#                        <li style='padding-top: 0'>#}
{#                            <div class="item-inner-one item-inner-same g-c">#}
{#                                <div>#}
{#                                    <div class="item-inner-img sc-tr">#}
{#                                        <a href="#" target="_blank" class="news_img">#}
{#                                            <img alt="资料图：重庆火车站。陈超 摄" src="" >#}
{#                                        </a>#}
{#                                        <div class="pictext" style="text-align: left;text-indent: 2em; "></div>#}
{#                                    </div>#}
{#                                    <div class="item-inner-title">#}
{#                                        <span class="item-inner-center">#}
{#                                            <p><a class="it-news-tl" href="#" id="title" >中新网</a>1月31日电 国新办今日举行新闻发布会，介绍2018年春运形势和工作安排。</p>#}
{#                                            <p class="it-news-footer">#}
{#                                                <a class="item-news-type item-news-same" id="classification" href="#">时政</a>#}
{#                                                <a class="item-news-icon item-news-same" href="#"></a>#}
{#                                                <a href="#" class="item-news-same item-news-name">长安街知事</a>#}
{#                                                <a class="item-news-same" href="#">.25评论</a>#}
{#                                                <span class="item-news-same">.52分钟前</span>#}
{#                                            </p>#}
{#                                        </span>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </li>#}
                    </ul>

                </div>
            </div>



            <div class="back-top">
                <span class="top-sam">刷新</span>
                <a class="top-sam" href="#header">向上</a>
            </div>
        </div>
    </div>
</div>
{#<script src="{% static "js/indexScrollControll.js" %}"></script>#}
<script src= "static/js/index.js"></script>

<script type="text/javascript">
          $(function () {
              $('.catalog   a').click(function() {
                $(".catalog  a").removeClass("i-active");
                $(this).addClass("i-active");
              });
          })

    </script>


</body>
</html>