<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" http-equiv="Content-Type">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>用户登陆</title>
    <link rel="stylesheet" href="../../static/css/login.css" />
    <script src="../../static/js/lib/jquery.min.js"></script>
    <script src="../../static/js/login.js"></script>
    <script src="../../static/js/sign.js"></script>
</head>
<body>
 <div class="login-container">
	<h1>用户登陆</h1>

	<div class="connect">
		<p></p>
	</div>

	<form id="sign" onsubmit="return false" action="#" method="post">
        {% csrf_token %}
		<div>
			<input type="text" id="username" name="username" class="username" placeholder="用户名" autocomplete="off"/>
		</div>
		<div>
			<input type="password" id="password" name="password" class="password" placeholder="密码" oncontextmenu="return false" onpaste="return false" />
		</div>
		<button id="signIn" type="buttom">登 录</button>
	</form>

	<a href="../register/register.html">
		<button type="button" class="register-tis">注册</button>
	</a>

</div>

 <script src="../../static/js/login.js"></script>
{# <script src="../../static/js/sign.js"></script>#}
 <!--背景图片自动更换-->
<script src="../../static/js/lib/supersized.3.2.7.min.js"></script>
<script src="../../static/js/lib/supersized-init.js"></script>
<!--表单验证-->
<script src="../../static/js/lib/jquery.validate.min.js?var1.14.0"></script>

</body>

</html>