<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人信息</title>
    <link rel="stylesheet" href= "../../static/css/common.css" />
    <link rel="stylesheet" href=" ../../static/css/user/personal.css" />
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css" >
    <script src="../../static/js/lib/jquery.min.js"></script>

</head>
<body>
    <div style="background-color:#bce8f1 ">
        <header  class="g-minwidth" style="color: #2A90D7;" id="header" name="header">
                <ul class="g-c h-left">
                    <li class="h-link-app">
                        <a class="a-header">个人信息</a>
                    </li>
                </ul>
                <ul class="h-right g-c">
{#                    <li style="margin-right: 14px;" class="">#}
{#                        <div class="h-login">#}
{##}
{#                        </div>#}
{#                    </li>#}
                </ul>
        </header>
        <div class="middlebar">
            <div class=" middlebar-inner">
                <div class="y-left logo-box">
                    <a class="logo-link" href="/" >
                        <h2>资讯推荐</h2>
                    </a>
                </div>

            <div class="y-right">
                    <div  style="margin-top: 9px; width: 340px;">
                        <div name="searchBox" class="wsearch">
                            <form name="searchForm" action="#"  target="_blank">
                            <div name="inputbox" class="y-box input-group" style="border-color: rgb(232, 232, 232);">
                                <input class="y-left input-text" name="keyword" autocomplete="off"  type="text" placeholder="请输入关键字">
                                <div class="y-right btn-submit">
                                    <button type="submit" href="">
                                    <i class="y-icon icon-search" ></i>
                                    </button>
                                </div>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
{#        主要内容#}
        <div class="p-content"  style="height: 100%">
          <div id="wrapper">
            <div  class="yheader">
            <div>
                <a  href=""><img alt="作者头像" class="avatar" src="//p1.pstatp.com/thumb/719d000de2726430c815"></a>
                <ul>
                    <li class="title"> <a  href=""> <span class="name">UserName</span>   </a> </li>
                    <li class="des"><a  href=""></a></li>
                </ul>
            </div>
        </div>
            <div class="left">
            <div >
                <ul class="tab tab-0">
                    <li class="active" code="b" idx="0">新闻</li>
                    <li class="" code="c" idx="1">收藏</li>
                    <!--riot placeholder-->
                </ul>
            </div>
            <div >
                <div class="feedBox" name="feedbox">
                    <div  >
                        <div class="relatedFeed">
                            <ul>
                                <!--riot placeholder-->
{#                                <li class="empty">暂无内容</li>#}
                                <li><a>习近平总书记视察</a></li>
                                <li><a>习近平总书记视察</a></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="right">
            <div >
                <dl class="statistics">
                    <dt>
                        <a  href="">
                            <h3>
                                <em class="y-number"><i>0</i></em>
                            </h3>
                            <p>关注</p>
                        </a>
                    </dt>
                    <dd>
                        <a  href="">
                            <h3 >
                                <em class="y-number"><i>0</i></em>
                            </h3>
                            <p>粉丝</p>
                        </a>
                    </dd>
                </dl>
            </div>

        </div>

    </div>
        </div>
    </div>
</body>
</html>